body {
  background-color: #1d2731
}

.navbar, .card-header {
	background: linear-gradient(-135deg, #193832, #0e8044);
	color: #f4f4f4;
}

.navbar-light .navbar-brand {
	color: #f4f4f4;
	font-weight: bold;
}

.card {
	background-color: #f4f4f4;
	border: none;
}

.card-body {
	padding: 0 0 10px 0;
	color: #1d2731;
}

.roulet .btn, .ml1 .btn, .number-place .btn {
	border-radius: 0;
	border-color: transparent;
}

.roulet-btn, .ai-btn, .np-btn {
	position: relative;
	transition:800ms ease all;
	outline:none;
	background-color: #d9b310;
	margin-top: 25px;
	width: 200px;
	height: 50px;
}

.roulet-btn:hover, .ai-btn:hover, .np-btn:hover {
	background-color: #f4f4f4;
	color: #d9b310;
}

.roulet-btn:before, .roulet-btn:after
, .ai-btn:before, .ai-btn:after
, .np-btn:before, .np-btn:after {
	content:'';
	position:absolute;
	height:2px;
	width:0;
	background: #d9b310;
	transition:400ms ease all;
}

.roulet-btn:before, .ai-btn:before, .np-btn:before {
	top:0;
	right:0;
}
.roulet-btn:after, .ai-btn:after, .np-btn:after {
	left:0;
	bottom:0;
}

.roulet-btn:hover:before, .roulet-btn:hover:after
, .ai-btn:hover:before, .ai-btn:hover:after 
, .np-btn:hover:before, .np-btn:hover:after {
	width:100%;
	transition:800ms ease all;
}

.roulet-btn:focus, .ai-btn:focus, .np-btn:focus {
	box-shadow: none;
}
